[submodule "src/t4t-annotation-UI"]
	path = src/t4t-annotation-UI
	url = git@github.com:Tech4Tracing/t4t-annotation-UI.git
[submodule "mmocr"]
	path = mmocr
	url = git@github.com/Tech4Tracing/mmocr.git
