werkzeug==2.0.3
#werkzeug==2.2.2
flask==2.0.3
#flask==2.2.2
python-dotenv==0.19.2

# Auth using Google
flask_login==0.5.0
#flask_login==0.6.2
oauthlib==3.2.0

# Database access
Flask-SQLAlchemy==2.5.1
alembic==1.7.5  # migrations
pymssql==2.2.5  # for MsSQL support
pymysql==0.10.1  # for MySQL support
sqlalchemy-mixins==1.5.3  # make SA readable

requests==2.27.1

# OpenAPI generator
apispec[marshmallow]==5.1.1
apispec-webframeworks==0.5.2

# Azure file storage
azure-storage-blob==12.9.0  # for Azure Blob storage

# Celery
celery==5.2.7
celery[redis]==5.2.7  # for Redis support
