werkzeug==2.3.0
flask==2.2.4
python-dotenv==0.19.2

# Auth using Google
flask_login==0.6.2
oauthlib==3.2.0

# Database access
Flask-SQLAlchemy==3.0.3
alembic==1.7.5  # migrations
pymssql==2.2.5  # for MsSQL support
pymysql==0.10.1  # for MySQL support
psycopg2-binary==2.9.5  # for PostgreSQL support
sqlalchemy-mixins==1.5.3  # make SA readable

requests==2.29.0

# OpenAPI generator
apispec[marshmallow]==6.0.2
apispec-webframeworks==0.5.2

# Azure file storage
azure-storage-blob==12.9.0  # for Azure Blob storage

# Celery
celery==5.2.7
celery[redis]==5.2.7  # for Redis support

# TODO: freeze versions
Pillow
numpy
azureml-core
torch
torchvision
pycocotools
azureml-sdk
azure-storage-blob
azureml-contrib-services
scipy