.imagearea {
    display: flex;
    flex-direction: column;
    float: left;
    width: 35%;
    max-width: 700px;
    position: relative;
}

#header {
    margin: 10px;
}

button {
    font-size: large;
    background-color: blue;
    color: white;
    height: 50px;
    width: 200px;
    border: none;
}

#img01{
    position: absolute;
    width: 100%;
}

#canvas {
    display: flex;
}

#annotations {
    float: right;
    width: 30%;
    height: 90vh;
    overflow-y: auto;
}

.annotation {
    border: solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.delete_handle {
    float: right;
    border: solid 2px;
    background-color: red;
    font-size: small;
}