<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Login</title>        
        <link rel="stylesheet" href="/static/style.css">        
    </head>
    <body>
        <div id="unauth_body">
            <img id='logo_unauth' src='/static/img/T4T-Logo-pos.svg'>
            <p>
            Login to start annotating:
            <p>
            <a class="login_button" href="/login">Google Login</a>
            <p>
                (Redirects to Google for authentication)
            </p>
            <p>
                By logging in to this service you agree to our <a href="/static/Tech4Tracing - Privacy Policy - v1.0.pdf">privacy policy</a> and <a href="/static/Tech 4 Tracing Terms of Service - v1.0.pdf">terms of service</a>.
            </p>
            <p>
                <b style="color:red">Important:</b> this is still a beta service. Data loss can happen at any time for any reason.
            </p>
        </div>
        
    </body>
</html>
