
#header {
    margin: 10px;    
}

.btn_save {
    font-size: large;
    background-color: blue;
    color: white;
    height: 50px;
    width: 200px;
    border: none;
}


.btn_nav {    
    background-color: blue;
    color: white;
    padding: 10px 10px;
    border: none;
}

#img01{
    position: absolute;
    width: 100%;
}

#canvas {
    display: flex;
    float: left;
    /* width: 50%; */
}

#annotations {
    float: left;
    width: 30%;
    height: 90vh;
    /*overflow-y: auto;*/
    margin-left: 100px;
}

#spacer { float: left; }

.annotation {
    border: solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.delete_handle {
    float: right;
    border: solid 2px;
    background-color: red;
    font-size: small;
}

#toolbar {
    float: left;
    border: solid 1px;
}

#btn_radial {
    background-image : url(/static/img/icon_radial.png);
    
}

#btn_box {
    background-image : url(/static/img/icon_box.png);
}


#btn_radial, #btn_box {
    display:block;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    /*background-position: center center; */
    /*background-repeat: no-repeat; */
    width: 50px;
    height: 50px;
}


.btn_selected {
    /*background-color: lightgray; */
    border: solid red 3px;
}

.btn_unselected {
    /*background-color: lightblue;*/
    border: solid black 1px;
}

.login_button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #072cfc;
  color: #ffffff;
  padding: 8px 24px 8px 24px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

#unauth_body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

#logout {
    float:right;
}

#logo_small {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    float: left;
}

#div_nav {
    float:left;
    padding: 10px;
    vertical-align: middle;
}

#div_save{
    float:left;
    padding: 10px;
    vertical-align: middle;
}

#logo_unauth {
    width: 200px;
    height: 200px;
}