<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Annotate | {{id}}</title>
        <script src='/static/highlight.js' type='text/javascript' ></script>
        <script src='/static/annotations.js' type='text/javascript' ></script>
        <script src='/static/init.js' type='text/javascript' ></script>
        <link rel="stylesheet" href="/static/style.css">        
    </head>
    <body onload="init_app({{id}})">
        <div id='header'>                        
            <a href='/annotate/{{id-1}}'>&lt;&lt;</a> | <a href='/annotate/{{id+1}}'>&gt;&gt;</a> | <button id='btn_save'>Save</button> | <button id='btn_save_advance'>Save and Advance</button>
        </div>

        <div id='annotations'>
            
        </div>
        <canvas id="canvas" ></canvas>
        <!--<div class='imagearea'>
            <img id='img01' src='/img/{{id}}'>
        </div> -->
        
        
    </body>
</html>